* {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav {
    position: sticky;
    top: 0;
    margin:auto;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 10px 3em 10px 3em;
    gap: 10px;
    z-index: 10;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.559);
    font-family: "Bebas Neue";
    color: black;
    font-size: 1.5em;
}
.text {
    height: 100%;
    width: 100%;
    flex: 1;
    font-family: "Bebas Neue";
    font-size: 1.5em;
    
}
.main {
    text-align: left;
}
.main a {
    text-decoration: none;
    color: inherit;
}
.sub {
    text-align: right;
}
.title {
    font-family: "Bebas neue";
    font-size: 8em;
}
.container {
    height: 100vh;
    width: 90%;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;

}
.lemon_chicken {
    display: flex;
    height: 100vh;
    gap: 3em;
}

.lemon_chicken img {
    max-width: 45%;
    max-height: 1000px;
    object-fit: cover;
    animation: fromLeft 1s forwards ease-out; 
}


.about, .info, .ingredients, .steps {
    font-family: "Lexend";
}
.text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: fromRight 1s forwards ease-out;
}
.info {
    margin: 0 auto;
    display: flex;
    flex:1;
    padding: 10px;
}
.yield, .cooking_time {
    flex: 1;

}
.cooking_time, .yield {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.fa-solid, .info p {
    font-size: 1.5em;
    flex: 1;
    font-size: 1em;
}
.fa-solid {
    text-align: right;
}
.info, .about {
    flex:0.5;
}
.about {
    font-size: 24px;
}
.ingredients{
    flex: 3;
    font-size: 20px;
}
.steps {
    flex: 3;
    font-size: 20px;
}
/*ANIMATIONS*/
@keyframes fromLeft {
    0% { 
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fromRight {
    0% { 
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

/*RESPONSIVENESS*/
@media only screen and (max-width: 600px) {
    .nav {
        padding: 8px 1.5em 8px 1.5em;
    }
    .lemon_chicken {
        display: flex;
        flex-direction: column;
    }
    .title {
        font-size: 4em;
    }
    .lemon_chicken img {
        width: 100%;
        height: 60%;
    }
    .about {
        font-size: 22px;
    }
  }