* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden !important;
}

.nav {
    position: sticky;
    top: 0;
    margin:auto;
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    z-index: 0;
}
.logo, .text {
    background-color: black;
    height: 100%;
    width: 80%;
    flex: 1;
}
.hero {
    width: 90vw;
    height: 400px;
    background-color: azure;
    display: flex;
}

.bg_vid {
    position: absolute;
    filter: brightness(75%);
    z-index: 1;
    overflow: hidden;
}
.header {
    font-family: "Bebas Neue";
    z-index: 2;
    margin-left: 4em;
    color: white;
}
.header h1 {
    font-size: 12em;
    position: absolute;
    bottom:40px;
}
.header h3 {
    font-size: 4em;
    color: rgb(214, 214, 214);
    position: absolute;
    bottom:0px;
}
